<div ng-include src="'src/partials/banner.html'"></div>

<div layout="column" layout-align="start center">
  <div class="layout-max-width layout-match-parent-horizontal" layout="column" layout-align="start center">
    <!-- <div class="da-carousel">
      <div class="da-carousel-control layout-match-parent-horizontal" layout="row">
        <md-button ng-click="daCarousel.slide(-1)">Prev</md-button>
        <div flex></div>
        <md-button ng-click="daCarousel.slide(1)">Next</md-button>
      </div>
      <div class="da-carousel-content" ng-style="daCarousel.contentStyle">
        <div class="da-carousel-item"ng-style="daCarousel.itemStyle" ng-repeat="img in ['default_avatar.png', 'reduced_hair.jpg', 'washedout.png']">
          <div class="layout-match-parent" ng-style="{'background-image': 'url(asset/img/{{img}})'}"></div>
        </div>
      </div>
    </div> -->

    <div layout="column" layout-align="start center">
    </div>
  </div>
</div>
