<div class="md-padding" layout="column" layout-align="start">
  <div>
    <md-input-container class="md-block">
      <label>USERNAME</label>
      <input ng-model="ctrl.user.username" disabled>
    </md-input-container>
  </div>

  <div ng-repeat="key in ['name', 'email', 'telephone', 'title', 'homepage']">
    <md-input-container class="md-block">
      <label>{{key | uppercase}}</label>
      <input ng-model="ctrl.user[key]">
    </md-input-container>
  </div>

  <div>
    <md-button class="md-raised md-primary" disabled>Save</md-button>
  </div>

  <div>
    <md-button class="md-raised md-primary">Change Password</md-button>
  </div>
</div>
