<div class="da-banner md-primary-contrast md-whiteframe-8dp" layout="column" layout-align="start center">
  <span class="da-banner-title md-primary-contrast layout-max-width layout-match-parent" layout="row" layout-align="start center">Publication</span>
</div>

<div layout="column" layout-align="start center">
  <div class="layout-max-width layout-match-parent-horizontal" layout="column">

    <div layout="column" ng-repeat="pub in publicationCtrl.publications | orderBy: '-year'">
      <div ng-if="publicationCtrl.publications[$index].year != publicationCtrl.publications[$index - 1].year">
        <p class="md-title da-section-title" layout="row" layout-align="end">{{pub.year}}</p>
        <md-divider></md-divider>
      </div>

      <div class="publication" layout="row" layout-align="start" layout-padding>
        <img class="publication-cover" ng-src="./asset/img/reduced_hair.jpg">
        <div class="publication-content" layout="column" layout-align="center">
          <span class="md-headline">{{pub.title}}</span>
          <span class="md-subhead">{{pub.authors}}</span>
          <span class="md-subhead">{{pub.journal}}</span>
          <div class="publication-res" layout="row">
            <md-button class="md-accent publication-res-item">pdf</md-button>
            <md-button class="md-accent publication-res-item">video</md-button>
            <md-button class="md-accent publication-res-item">data </md-button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
