<div class="banner md-whiteframe-8dp" layout="column" layout-align="start center" ng-style="{background: mdThemeColors.primary[400]}">
  <span class="banner-title layout-max-width layout-match-parent" layout="row" layout-align="start center">Publication</span>
</div>

<div layout="column" layout-align="start center">
  <div class="layout-max-width layout-match-parent-horizontal" layout="column">

    <div class="section" ng-repeat="i in [0, 1]">
      <p class="md-title section-title" layout="row" layout-align="end">2015</p>
      <md-divider></md-divider>

      <div class="publication" layout="row" layout-padding ng-repeat="i in [0, 1, 2, 3]">
        <img class="publication-cover" ng-src="./asset/img/reduced_hair.jpg">
        <div class="publication-content" layout="column" layout-align="center">
          <span class="md-headline">A Reduced Model for Interactive Hairs</span>
          <span class="md-subhead">Chai Menglei, Zheng Changxi, Zhou Kun</span>
          <span class="md-subhead">ACM Transactions on Graphics (SIGGRAPH 2014)</span>
          <div class="publication-res" layout="row">
            <md-button class="md-raised md-accent publication-res-item">pdf</md-button>
            <md-button class="md-raised md-accent publication-res-item">video</md-button>
            <md-button class="md-raised md-accent publication-res-item">data </md-button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
