/*font*/

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  font-family: Roboto, 'Microsoft YaHei', sans-serif;
}

.md-title,
.md-headline {
  font-family: Roboto Mono, 'Microsoft YaHei', sans-serif;
}


/*layout*/

.layout-max-width {
  max-width: 1200px;
}

.layout-match-parent {
  width: 100%;
  height: 100%;
}

.layout-match-parent-horizontal {
  width: 100%
}

.layout-match-parent-vertical {
  height: 100%;
}


/* styles for md-toolbar*/

.md-toolbar-title a {
  font-weight: bold;
}

.md-toolbar-title-seperator {
  opacity: 0.5;
  font-size: 30px;
  margin: 0px 5px 0px 5px;
}

.md-toolbar-nav .md-button * {
  font-weight: bold;
}


/*styles for banner*/

.banner {
  height: 192px;
  background: #039BE5;
  margin-bottom: 12px;
}

.banner-title {
  font-family: Roboto Mono, 'Microsoft YaHei', sans-serif;
  color: white;
  font-size: 56px;
  padding-left: 24px;
}


/*styles for section*/

.section-title {
  padding-left: 24px;
}


/*styles for publication page*/

.publication-cover {
  width: 128px;
  height: 128px;
}

.publication-content {
  margin-left: 8px;
  padding-bottom: 0px;
}

.publication-res-item {
  min-width: 0px;
  margin: 0px 8px 0px 0px;
  padding: 0px 8px 0px 8px;
}


/*styles for people page*/

.card-media {
  background-color: #999999;
}
