/*font*/

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  font-family: Roboto, 'Microsoft YaHei', sans-serif;
}

.md-title,
.md-headline {
  font-family: Roboto Mono, 'Microsoft YaHei', sans-serif;
}


/*layout*/

.layout-max-width {
  max-width: 1200px;
}

.layout-match-parent {
  width: 100%;
  height: 100%;
}

.layout-match-parent-horizontal {
  width: 100%
}

.layout-match-parent-vertical {
  height: 100%;
}


/* styles for md-toolbar*/

.da-toolbar-title a {
  font-weight: bold;
}

.da-toolbar-title-seperator {
  opacity: 0.5;
  font-size: 30px;
  margin: 0px 5px 0px 5px;
}

.da-toolbar-nav {
  height: 100%;
}

.da-toolbar-nav-button {
  font-family: Roboto Mono, 'Microsoft YaHei', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  height: 100%;
  padding: 0px 12px 0px 12px;
  border-top: 2px none;
  border-bottom: 2px none;
}

.da-toolbar-nav-button.light:not(.active):hover {
  border-top-style: solid;
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 255, 255, 0.5);
}

.da-toolbar-nav-button.dark:not(.active):hover {
  border-top-style: solid;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.5);
}

.da-toolbar-nav-button.light.active {
  border-top-style: solid;
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 255, 255);
}

.da-toolbar-nav-button.dark.active {
  border-top-style: solid;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0);
}


/*styles for banner*/

.da-home-banner {
  height: 192px;
}

.da-banner {
  height: 192px;
  margin-bottom: 12px;
}

.da-banner-title {
  font-family: Roboto Mono, 'Microsoft YaHei', sans-serif;
  font-size: 56px;
  padding-left: 24px;
}


/*styles for section*/

.da-section {
  padding-bottom: 60px;
}

.da-section-text {
  padding: 0px 24px 0px 24px;
}

.da-section-divider {
  margin-bottom: 8px;
}


/*styles for home page*/

.home-intro {
  padding: 36px 0px 0px 0px;
}


/*styles for publication page*/

.publication-cover {
  width: 128px;
  height: 128px;
}

.publication-content {
  margin-left: 8px;
  padding-bottom: 0px;
}

.publication-res-item {
  min-width: 0px;
  margin: 0px 8px 0px 0px;
  padding: 0px 8px 0px 8px;
}


/*styles for member page*/

.member-avatar {
  width: 128px;
  height: 128px;
}


/*styles for project page*/

.project-container {
  margin-top: 8px;
}
