/*global font*/

p,
span,
a {
  font-family: Roboto, 'Microsoft YaHei', sans-serif;
}

md-toolbar p,
md-toolbar span,
md-toolbar a {
  font-family: Roboto Mono, 'Microsoft YaHei', sans-serif;
}


/*global layout*/

.layout-max-width {
  max-width: 1200px;
  width: 100%;
}


/* styles for toolbar elements*/

md-toolbar .title-en {
  color: white;
  font-size: 18 px;
  font-weight: bold;
}

md-toolbar .seperator {
  color: white;
  opacity: 0.5;
  font-size: 30px;
  margin: 0px 5px 0px 5px;
}

md-toolbar .title-ch {
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 3px;
}

md-toolbar .md-button a {
  color: white;
  font-weight: bold;
}


/*styles for banner*/

.md-banner {
  height: 192px;
  background: #00BCD4;
}

.md-banner .md-banner-title {
  font-family: Roboto Mono, 'Microsoft YaHei', sans-serif;
  color: white;
  width: auto;
  font-size: 56px;
  margin-left: 24px;
}


/*styles for people page*/

.card-media {
  background-color: #999999;
}
